@import 'tailwindcss';
h3 {
    margin-bottom: 30px;
}
table {
    border-collapse: collapse;
    width: 80%;
}

th{
    border: 1px solid #ccc;
}
td {
    border: 1px solid #ccc;
    height: 100px;
    vertical-align: top;
    text-align: left;
    padding: 5px;
}
th:nth-of-type(1), td:nth-of-type(1) {
    color: red;
}
th:nth-of-type(7), td:nth-of-type(7) {
    color: blue;
}
/* ポップアップ用 */
.modal { 
    position: fixed;
    inset: 0; 
}
.modal-bg {
    position: absolute;
    inset: 0;
    background: rgba(0,0,0,.5); 
}
.modal-content {
    position: relative;
    width: 60%;
    margin: 10vh auto;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
}